@model Model.Music1

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index1</title>
</head>
<body>
    <div>
        <div class="page-content">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div id="portlet-config" class="modal hide">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button"></button>
                    <h3>Widget Settings</h3>
                </div>
                <div class="modal-body">
                    <p>Here will be a configuration form</p>
                </div>
            </div>
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="container-fluid">
                <!-- BEGIN PAGE HEADER-->
                <div class="row-fluid">
                    <div class=" admin-content">
                        <h2>Create</h2>
                        <div style="float:right;">
                            @Html.ActionLink("返回主页", "Index")
                        </div>
                        @Session["mana_id"]
                        @using (Html.BeginForm("Create", "Music", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-horizontal" >
                                <h4>Music1</h4>
                                <hr />
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                <div style="margin-left:400px;">
                                    <div>
                                        <div class="form-group">
                                            音乐文件：
                                            <div class="col-md-10">
                                                <input type="file" name="music" />
                                            </div>
                                        </div>
                                        <br />
                                        <div class="form-group">
                                            音乐名称：
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.music_name, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.music_name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <br />
                                        <div class="form-group">
                                            音乐简介：
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.music_mess, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.music_mess, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <br />
                                        <div class="form-group">
                                            音乐图片：
                                            <div class="col-md-10">
                                                <input type="file" name="image" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10" style="margin-left:135px;">
                                                <input type="submit" value="上传音乐" class="btn btn-default" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        }



                    </div>
                </div>
                <!-- END PAGE HEADER-->
                <!-- Begin page-->
                <div class="ui-widget ui-helper-clearfix">

                </div>
                <!-- END page-->

            </div>
            <!-- END PAGE CONTAINER-->
        </div>
    </div>
</body>
</html>