@using PagedList.Mvc;
@model PagedList.IPagedList<Model.Music1>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Music</title>
</head>
<body>

    @foreach (var p in Model)
    {

        <section class="3u">
            <header>
                <h2>
                    <a href="@Url.Action("Details",new { id=p.music_id})">
                        <img src="@p.music_image" width="150" height="150" alt="" />
                    </a>
                </h2>
            </header>


            <p>@p.music_name</p>
            <br />
        </section>

    }
    <div style="float:right;">
        <div>
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        </div>
        <div>
            @Html.PagedListPager(Model, page => Url.Action("Index1", "Music", new { page }))
        </div>
    </div>

</body>
</html>


<link href="~/Content/Shared/css/skel-noscript.css" rel="stylesheet" />
<link href="~/Content/Shared/css/style.css" rel="stylesheet" />
<link href="~/Content/Shared/css/style-desktop.css" rel="stylesheet" />
<script src="~/Content/Shared/js/init.js"></script>
<script src="~/Content/Shared/js/skel.min.js"></script>
<script src="~/Content/Shared/js/skel-panels.min.js"></script>