@using PagedList.Mvc;
@model PagedList.IPagedList<Model.Articles>
@{
    ViewBag.Title = "Articles";
    Layout = null;
}
 
<div class="col-md-9 technology-left">
    <div>
        <h2>文章列表</h2>
        <div>
            <ul>
                @foreach (var p in Model)
                {
                    <li>
                        <div class="blog-grids wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                            <div class="blog-grid-left">
                                <a href="@Url.Action("Details","Articles",new {id=p.art_id})"><img src="@p.art_image" class="img-responsive" alt=""></a>
                            </div>
                            <div class="blog-grid-right">

                                <h5><a href="@Url.Action("Details","Articles",new {id=p.art_id})">@p.art_mess </a> </h5>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div>
            <div>
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            </div>
            <div>
                @Html.PagedListPager(Model, page => Url.Action("Index", "Articles", new { page }))
            </div>
        </div>
    </div>
</div>
 