@model Model.List
@using Model

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index1</title>
</head>
<body>
    <div>
        <div class="page-content">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div id="portlet-config" class="modal hide">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button"></button>
                    <h3>Widget Settings</h3>
                </div>
                <div class="modal-body">
                    <p>Here will be a configuration form</p>
                </div>
            </div>
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="container-fluid">
                <!-- BEGIN PAGE HEADER-->
                <div class="row-fluid">
                    <div class=" admin-content">



                        <h2>Create</h2>
                        @Session["user_id"]
                        @using (Html.BeginForm("Add", "List", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @*@Html.AntiForgeryToken()*@

                            <div class="form-horizontal">
                                <h4>List</h4>
                                <hr />
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })


                                @*<div class="form-group">
                                        @Html.LabelFor(model => model.list_mess, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            <input type="file" name="music" />

                                        </div>
                                    </div>*@



                                <div class="form-group">
                                    @Html.LabelFor(model => model.list_name, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.list_name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.list_name, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.list_mess, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.list_mess, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.list_mess, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.list_image, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input type="file" name="listimage" />

                                    </div>
                                </div>



                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Create" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        }
                        @Session["user_id"]

                        <div>
                            @Html.ActionLink("login", "Login", "User")
                            @Html.ActionLink("Back to List", "Index")
                        </div>


                    </div>
                </div>
                <!-- END PAGE HEADER-->
                <!-- Begin page-->
                <div class="ui-widget ui-helper-clearfix">

                </div>
                <!-- END page-->

            </div>
            <!-- END PAGE CONTAINER-->
        </div>
    </div>
</body>
</html>