@model Model.List
@using Model

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index1</title>
</head>
<body>
    <div>
        <div class="page-content">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div id="portlet-config" class="modal hide">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button"></button>
                    <h3>Widget Settings</h3>
                </div>
                <div class="modal-body">
                    <p>Here will be a configuration form</p>
                </div>
            </div>
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="container-fluid">
                <!-- BEGIN PAGE HEADER-->
                <div class="row-fluid">
                    <div class=" admin-content">
                        <h2>Create</h2>
                        <div style="float:right;">
                            @Html.ActionLink("返回列表", "List1")
                        </div>
                        @Session["user_id"]
                        @using (Html.BeginForm("Add", "List", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        { 
                            <div class="form-horizontal">
                                <h4>List</h4>
                                <hr />
                                <div style="margin-left:400px;">
                                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        歌单名称：
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.list_name, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.list_name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        歌单描述：
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.list_mess, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.list_mess, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        歌单封面：
                                        <div class="col-md-10">
                                            <input type="file" name="listimage" />

                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10" style="margin-left:135px;">
                                            <input type="submit" value="创建歌单" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }
                        @Session["user_id"]


                    </div>
                </div>
                <div class="ui-widget ui-helper-clearfix">
                </div>
            </div>
        </div>
    </div>
</body>
</html>