@using Model
@model Common.PagingHelper<Music_Type>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <div>
        <div>
            @Html.ActionLink("创建分类", "Create")
        </div>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>分类名称</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.GetPagingData())
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.type_id)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.ActionLink("修改", "Edit", new { id = item.type_id })|
                            @Html.ActionLink("删除", "Delete", new { id = item.type_id})
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    @if (Model.HasPrev)
                    {
                        <td><a href="@Url.Action("Index","Music_Type",new { pageIndex = Model.PageIndex - 1 })">上一页</a></td>
                    }
                    else
                    {
                        <td><em style="color:dimgray">上一页</em></td>
                    }
                    @if (Model.HasNext)
                    {
                        <td>
                            <a href="@Url.Action("Inedx", "Music_Type", new { pageIndex = Model.PageIndex + 1 })">下一页</a>
                        </td>
                    }
                    else
                    {
                        <td><em style="color:dimgray">下一页</em></td>
                    }
                </tr>
            </tfoot>
        </table>
    </div>
</div>


