@using Model
@model Commom.PagingHelper<List_Comment>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index1</title>
</head>
<body>
    <div>
        <div class="page-content">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div id="portlet-config" class="modal hide">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button"></button>
                    <h3>Widget Settings</h3>
                </div>
                <div class="modal-body">
                    <p>Here will be a configuration form</p>
                </div>
            </div>
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="container-fluid">
                <!-- BEGIN PAGE HEADER-->
                <div class="row-fluid">
                    <div class=" admin-content">



                        <h1><i class="fa fa-dashboard"></i>歌单评论管理</h1>


                        <table class="table">
                            <tr>
                                <th>
                                    评论ID
                                </th>
                                <th>
                                    评论人姓名
                                </th>
                                <th>
                                    相册ID
                                </th>
                                <th>
                                    评论内容
                                </th>
                                <th>
                                    评论时间
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model.GetPagingData())
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.lc_id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Users.user_name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.lc_id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.lc_mess)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.lc_time)
                                    </td>
                                    <td>

                                        @Html.ActionLink("删除", "Delete", new { id = item.lc_id })
                                    </td>
                                </tr>
                            }
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    @if (Model.HasPrev)
                                    {
                                        <td><a href="@Url.Action("Index","List_Comment",new { pageIndex = Model.PageIndex - 1 })">上一页</a></td>
                                    }
                                    else
                                    {
                                        <td><em style="color:dimgray">上一页</em></td>
                                    }
                                    @if (Model.HasNext)
                                    {
                                        <td>
                                            <a href="@Url.Action("Index", "List_Comment", new { pageIndex = Model.PageIndex + 1 })">下一页</a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td><em style="color:dimgray">下一页</em></td>
                                    }
                                </tr>
                            </tfoot>

                        </table>


                    </div>
                </div>
                <!-- END PAGE HEADER-->
                <!-- Begin page-->
                <div class="ui-widget ui-helper-clearfix">

                </div>
                <!-- END page-->

            </div>
            <!-- END PAGE CONTAINER-->
        </div>
    </div>
</body>
</html>