
@model IEnumerable<Model.Articles_Comment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ac_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.art_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ac_mess)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ac_time)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ac_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.art_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ac_mess)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ac_time)
            </td>
            <td>
                @Html.ActionLink("查看详细", "Details", new { id = item.ac_id }) |
                @Html.ActionLink("删除", "Delete", new { id = item.ac_id })
            </td>
        </tr>
    }

</table>
